.footer{
    display: flex;
    height: 50px;
    margin: 0;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
}

.app__social{
    margin-top: 20px;
    display: flex;
    gap: 1.5em;
}

.footer__designer{
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
}

.footer__designer span{
    font-size: 1rem;
    color: #C0C0C0;

}

.footer__designer span > span{
    color: var(--color-Principal);
    font-weight: 600;
    font-size: 1.2rem;
}

