/* ----RESET----*/
/*importar tipo de letra fonts*/

*{
    box-sizing: border-box;
}

html{
    /*tipo de letra*/
    background-color: black;
}

body{
    margin: 0;
    color: #fff;
}

h1, h2, h3, h4, p, ul{
    margin-top: 0;
    margin-bottom: 0;
}

ul{
    list-style: none;
    padding: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

input{
    outline: 0;
}

button{
    border: 0;
    font-family: inherit;
    cursor: pointer;
}

img{
    display: block;
    width: 100%;
    font-family: inherit;
}
